body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background-color: black; */
    font-family: 'Open Sans', sans-serif;
    background-image: url("./Assets/cristofer-maximilian-uQDRDqpYJHI-unsplash.jpg");
    background-color: #cccccc;
    background-image: center;
    background-size: cover;
   
}

.main-title {
    text-align: center;
    font-family: 'Edu NSW ACT Foundation', cursive;
    background-color: coral;
    color: white;
    border: solid 2px white;
    border-radius: 15px;
    padding-bottom: .5rem;

}

.search-bar {
    border-radius: 5px;
    border: none;
    background: rgba(255, 254, 254, 0.771);
    font-family: 'Open Sans', sans-serif;
    padding: .1rem 1rem;
    font-size: 110%;
}

.search-btn {
    border: none;
    border-radius: 3px;
    height: 2rem;
    width: 2rem;
    background: rgba(255, 254, 254, 0.771);
}

button:hover {
    background: white;
    border: solid 2px green;
    border-radius: .5rem;
    cursor: pointer;
    width: 3rem;
    transition: 0.2s ease-in-out;
}

.search-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem, 1rem;
    align-content: center;
    text-align: center;
    gap: 5px;
}

.weather {
    margin-top: 1rem;
}

.card {
    background-color: white;
    padding: 2rem;
    border-radius: 30px;
    width: 60%;
    max-width: 400px;
    margin: 1rem;
    background-color: rgba(13, 13, 13, 0.651);
    color: white;
}

h1.temp {
    margin: 0;
}

.header-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    max-width: 400px;
    height: auto;
}

.flexbox {
    display: flex;
    align-items: center;
}


/* .main-logo {
    padding: 2rem;
    margin: 2rem 3rem;
    max-width: 300px;
    height: auto;
} */